aiofiles>=0.8.0
aiohttp>=3.8.0
anthropic
asyncio-mqtt
docling
fastapi
mcp-agent
mcp-server-git
nest_asyncio
openai
pathlib2
PyInstaller>=6.0.0
PyPDF2>=2.0.0
python-multipart
reportlab>=3.5.0
streamlit
uvicorn
